<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" >
       
        <h5 class="ms-1 font-weight-bold">CABS HELPDESK</h5>
      </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto  max-height-vh-100 h-100" id="sidenav-collapse-main">
      
  <!-- sidebar navination -->
  <app-sidebar></app-sidebar>
    </div>
  
  </aside>
  
    <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
      <!-- Navbar -->
      <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
        <div class="container-fluid py-1 px-3">
          <nav aria-label="breadcrumb">
          </nav>
          <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
             
            </div>
            <ul class="navbar-nav  justify-content-end">
           

              
              <li class="nav-item dropdown pe-2 d-flex align-items-center">
                <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-list me-sm-1 cursor-pointer" style="font-size: x-large;"></i>
                </a>
                <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
                  <li class="mb-2" (click)="toggleTickets(false)">
                    <a class="dropdown-item border-radius-md" href="javascript:;">
                      <div class=" py-1">
              
                        <div class="d-flex  justify-content-between">
                          <p class="text-sm d-inline font-weight-normal mb-1  ">
                          All Tickets 
                          </p>
                          <span *ngIf="!assignedTickets" class="flex"><input type="radio" checked class=" bg-success"></span>
                        </div>
                      </div>
                    </a>
                  </li>
  
                  <li class="mb-2" (click)="toggleTickets(true)">
                    <a class="dropdown-item border-radius-md" href="javascript:;">
                      <div class=" py-1">
              
                        <div class="d-flex  justify-content-between">
                          <p class="text-sm d-inline font-weight-normal mb-1  ">
                          Assigned Tickets 
                          </p>
                          <span *ngIf="assignedTickets" class="flex"><input type="radio" checked class=" bg-success"></span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="mb-2" (click)="onSignOut()">
                    <a class="dropdown-item border-radius-md" href="javascript:;">
                      <div class="d-flex py-1">
              
                        <div class="d-flex flex-column justify-content-center">
                          <p class="text-sm font-weight-normal mb-1">
                          Sign Out 
                          </p>
                          <p class="text-xs text-secondary mb-0">
                            {{user.email}}
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="container-fluid py-4">
        
        <div *ngIf="!loading" class="row my-2">
          <div class="col-lg-12 col-md-12 mb-md-0">

            <div class="mb-4 ">
              <div class=" d-flex justify-content-center">
                <div class="card-body w-80 px-0 pb-5">
                  <h5 class="ml-4 d-block text-center" >Unresolved Tickets</h5>
               <app-table [data]="unresolved"></app-table>
                </div>
              </div>
            </div>

            <div class="mb-4 ">
              <div class=" d-flex justify-content-center">
                
                <div class="card-body w-80 px-0 pb-5">
                  <h5 class="ml-4 d-block text-center" >Resolved Tickets</h5>
               <app-table  [data]="resolved" ></app-table>
                </div>
              </div>
            </div>

            <div class="mb-4 ">
              <div class=" d-flex justify-content-center">
                
                <div class="card-body w-80 px-0 pb-5">
                  <h5 class="ml-4 d-block text-center" >Escalated Tickets</h5>
               <app-table  [data]="escalations"  ></app-table>
                </div>
              </div>
            </div>
           
           
          

          </div>

         
        </div>
        <footer class="footer pt-3  ">
          <div class="container-fluid">
            <div class="row align-items-center justify-content-lg-between">
              <div class="col-lg-6 mb-lg-0 mb-4">
              </div>
            </div>
          </div>
        </footer>
      </div>
      <div *ngIf="loading"
      class="spinner-grow text-success"
      style="width: 10rem; height: 10rem;"
      role="status"
    >
      <span class="sr-only ">Loading...</span>
    </div>

    
    
    </main>
    