<div class="modal fade" id="exampleModalMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalMessageTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
       
        <div class="modal-body m-4 p-3">
          <div class="d-flex" style="align-items: end;">
            <h5 for="recipient-name" class="col-form-label mx-1" style="line-height: unset;">Ticket Information</h5>
            <hr style="flex: 1;">
          </div>
         <div class="">
            <table class="m-4 ">
                <thead> 
                  <th class="w-30"></th> 
                  <th class="w-70"></th>
                 </thead>
                 <tbody>
                   <tr><td><strong>Ticket ID:</strong></td> <td>8732678462378</td> </tr> 
                   <tr><td><strong>Level:</strong> </td> <td>1</td></tr>
                   <tr><td><strong>Email:</strong> </td> <td>muchallen@gmail.com</td></tr>
                   <tr><td><strong>Assigned to: </strong> </td> <td>admin1</td></tr>
                   <tr><td><strong> Full Name: </strong></td> <td>Allen Muchini</td> </tr> 
                   <tr><td><strong>Contact #:</strong> </td> <td>+263783456484</td></tr>
                   <tr><td><strong>Created at:</strong> </td> <td>13:09 Monday, 21 March 2022 (CAT)</td></tr>
                   <tr><td>Details:<strong></strong> </td> <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor explicabo impedit reiciendis exercitationem! Unde maiores assumenda ratione recusandae magnam eius nihil laboriosam eum ad saepe dicta, culpa fugiat aut natus?</td></tr>
                 </tbody>
               </table>
         </div>
          <div class="d-flex mb-3" style="align-items: end;">
            <h5 for="recipient-name" class="col-form-label mx-1" style="line-height: unset;">Action</h5>
            <hr style="flex: 1;">
          </div>
          <form>
            <div class="form-group">
              <textarea class="form-control" id="message-text" placeholder="Comment"></textarea>
            </div>
          
          </form>
        </div>
        
          <div class="d-flex row justify-content-center mb-5">
            <div class="col-md-2 col-sm-12 mx-3"> <select name="" placeholder="Escalate to" class="btn m-2" id="">
              <option value="">Escalate to</option>
              <option value="" class="form-control">Manager 1</option>
              <option value="" class="form-control">Manager 2</option>
            </select></div>
            <div class="col-md-2 col-sm-12"> <button type="button" class="btn bg-gradient-info m-2">Escalate</button></div>
            <div class="col-md-2 col-sm-12"> <button type="button" class="btn bg-gradient-warning m-2">Reply</button></div>
            <div class="col-md-2 col-sm-12"><button type="button" class="btn bg-gradient-success m-2">Resolve</button></div>
            <div class="col-md-2 col-sm-12"><button type="button" class="btn bg-gradient-danger m-2">Close</button></div></div>
      </div>
    </div>
    
  </div>