

body {
    background: #39fa60;
    
}

.card {
    border: none;
    height: 320px
}

.forms-inputs {
    position: relative;
    width:100%;
}

.forms-inputs span {
    position: absolute;
    top: -18px;
    left: 10px;
    background-color: #fff;
    padding: 5px 10px;
    font-size: 15px
}

input{width: 100%;}

.forms-inputs input {
    height: 50px;
    border: 2px solid #eee
}

.forms-inputs input:focus {
    box-shadow: none;
    outline: none;
    border: 2px solid #39fa60
}

.btn {
    height: 50px
}

.success-data {
    display: flex;
    flex-direction: column
}

.bxs-badge-check {
    font-size: 90px
}

.select-item{
    width: 100%;
    border-radius:5px; padding: 0.3em;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;; border:none
}

.select-item>option{
    background-color: #ccc;
    color: black;
    border-radius: 10px;
}

.select-item>option:hover{
    background-color: #17AD37 !important;
    color: white;
    border-radius: 10px;
}