<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="text-center">
                <h1>Register</h1>
            </div>
            <div class="card px-5 py-5" id="form1">
                <div class="form-data">
                    <div class="forms-inputs mb-4"> <span>Email</span> <input autocomplete="off" type="text" >
                        <div class="invalid-feedback">A valid email is required!</div>
                    </div>
                    <div class="forms-inputs mb-4"> <span>Username</span> <input autocomplete="off" type="text" >
                        <div class="invalid-feedback">A valid email is required!</div>
                    </div>
                    <div class="forms-inputs mb-4"> <span>Password</span> <input autocomplete="off" type="password">
                        <div class="invalid-feedback">Password must be 8 character!</div>
                    </div>
                    <div class="forms-inputs mb-4"> <span>Confirm Password</span> <input autocomplete="off" type="password">
                        <div class="invalid-feedback">Password must be 8 character!</div>
                    </div>
                    <div class="mb-3 d-flex justify-content-center"> <button  class="btn  btn-success w-50">Register</button> </div>
                    <div class="mb-3 d-flex justify-content-center"> <p>Aready have an account, Login Here! </p> </div>
                </div>
            </div>
        </div>
    </div>
</div>