

    <div class="container position-sticky z-index-sticky top-0">
        <div class="row">
          <div class="col-12">
           
          </div>
        </div>
      </div>
      <main class="main-content  mt-0">
        <section>
          <div class="page-header col-md-8 col-lg-8 col-sm-12 mx-auto">
            <div class="container">
              <div class="row">
                <div class="col-xl-12  col-lg-12 col-md-12 d-flex flex-column mx-auto">
                  <div class="sign-in mt-8 w-50 mx-auto ">
                    <div class="card-header pb-0 text-center bg-transparent">
                      <h3 class="font-weight-bolder text-success text-gradient">Create Account</h3>
                    </div>
                    <div class="card-body">
                      <form role="form"  #f2="ngForm" (ngSubmit)="onSubmit(f2)"  autocomplete="off">
                        <label>First Name</label>
                        <div class="mb-3">
                          <input type="text" class="form-control" ngModel name="firstname" #firstname="ngModel" required  aria-label="First Name" aria-describedby="First Name-addon">
                        </div>
                        <label>Last Name</label>
                        <div class="mb-3">
                          <input type="text" class="form-control" ngModel name="lastname" #lastname="ngModel" required  aria-label="Last Name" aria-describedby="Last Name-addon">
                        </div>
                        <label>Email</label>
                        <div class="mb-3">
                          <input type="email" class="form-control" ngModel name="email" #email="ngModel"  aria-label="OM Email" required aria-describedby="OM Email-addon">
                        </div>
                        <label>OM Username</label>
                        <div class="mb-3">
                          <input type="text" class="form-control" ngModel name="omUsername" required #omUsername="ngModel"  aria-label="OM Username" aria-describedby="OM Username-addon">
                        </div>
                        <label>OM Password</label>
                        <div class="mb-3">
                          <input type="password" ngModel name="omPassword" required #omPassword="ngModel" class="form-control" aria-label="OM Password" aria-describedby="OM Password-addon">
                        </div>
                        <label>Role</label>
                        <div class="mb-3">
                          <select  ngModel name="role" #role="ngModel" required  class="select-item" ><option> Admin</option> <option> User</option></select>
                        </div>
                        <div class="text-center">
                          <button type="submit" [disabled]="!f2.valid"  class="btn bg-gradient-success w-100 mt-4 mb-0">
                          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-3" role="status" aria-hidden="true"></span>
                               Create Account</button>
                        </div>
                      </form>
                    </div>
                    
                  </div>
                </div>
               
              </div>
            </div>
          </div>
        </section>
      </main>
  