<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">
  <div class="sidenav-header">
    <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
    <a class="navbar-brand m-0" >
      <h5 class="ms-1 font-weight-bold">CABS HELPDESK</h5>
    </a>
  </div>
  <hr class="horizontal dark mt-0">
  <div class="collapse navbar-collapse  w-auto  max-height-vh-100 h-100" id="sidenav-collapse-main">
    <!-- sidebar navination -->
    <app-sidebar></app-sidebar>
  </div>

</aside>

  <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
         
          <h6 class="font-weight-bolder mb-0">Escalations</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            <div class="input-group">
            </div>
          </div>
          <ul class="navbar-nav  justify-content-end">
           

            
            <li class="nav-item dropdown pe-2 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-user me-sm-1 cursor-pointer" style="font-size: x-large;"></i>
              </a>
              <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
                <li class="mb-2" (click)="onSignOut()">
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                    <div class="d-flex py-1">
            
                      <div class="d-flex flex-column justify-content-center">
                        <p class="text-sm font-weight-normal mb-1">
                        Sign Out 
                        </p>
                        <p class="text-xs text-secondary mb-0">
                          {{user.email}}
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid  py-4">
     <div *ngIf="!loading" class="">
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4"  data-bs-toggle="modal" data-bs-target="#table-modal" (click)="updateTableData(1,'NORMAL')">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Normal
                    <h5 class="font-weight-bolder mb-0">
                      {{normalEscalationNumber}}
                     
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-success shadow text-center border-radius-md">
                    <i class="ni ni-delivery-fast text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4"  data-bs-toggle="modal" data-bs-target="#table-modal" (click)="updateTableData(1,'IMPORTANT')">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold"> Important </p>
                    <h5 class="font-weight-bolder mb-0">
                      {{importantEscalationNumber}}
                    
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-info shadow text-center border-radius-md">
                    <i class="ni ni-delivery-fast text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4"  data-bs-toggle="modal" data-bs-target="#table-modal" (click)="updateTableData(1,'URGENT')">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Urgent</p>
                    <h5 class="font-weight-bolder mb-0">
                      {{urgentEscalationNumber}}
                      
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-danger shadow text-center border-radius-md">
                    <i class="ni ni-delivery-fast text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6"  data-bs-toggle="modal" data-bs-target="#table-modal" (click)="updateTableData(1,'CRITICAL')">
          <div class="card">
            
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Critical</p>
                    <h5 class="font-weight-bolder mb-0">
                      {{criticalEscalationNumber}}
                      <!-- <span class="text-success text-sm font-weight-bolder">+5%</span> -->
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-success shadow text-center border-radius-md">
                    <i class="ni ni-delivery-fast text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-sm-12 m-auto">
          <div class="my-4">
            <div class="card z-index-2">
              <div class="card-header pb-0">
              <h6>Tickets Overview <span> <select class="select-item"  (change)=" togglePeriod($event.target)" ><option>Monthly</option><option>Weekly</option></select></span></h6>
              </div>
              <div class="card-body p-3">
                <div class="chart">
                  <canvas mdbChart
        [chartType]="chartType"
        [datasets]="chartDatasets"
        [labels]="chartLabels"
        [colors]="chartColors"
        [options]="chartOptions"
        [legend]="true"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
      </canvas>
                </div>
              </div>
            </div>
          </div>
    
        </div>
        <div class="col-md-4 mt-4 col-sm-12 " >
          <div class=" " >
            <div class="">
              <h6 class="font-weight-bolder text-center mt-3 mb-0">Tickets Status</h6>
            </div>
            <div class=" p-3 ">
              <div class="  mb-2"  data-bs-toggle="modal" data-bs-target="#table-modal" (click)="updateTableData(2,'OPEN')">
                <div class="card">
                  <div class="card-body p-3 ">
                    <div class="row">
                      <div class="col-8">
                        <div class="numbers">
                          <p class="text-sm mb-0 text-capitalize font-weight-bold">Open</p>
                          <h5 class="font-weight-bolder mb-0">
                            {{openStatusNumber}}
                            
                          </h5>
                        </div>
                      </div>
                      <div class="col-4 text-end">
                        <div class="icon icon-shape bg-gradient-danger shadow text-center border-radius-md">
                          <i class="ni ni-sound-wave text-lg opacity-10" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="  mb-2"  data-bs-toggle="modal" data-bs-target="#table-modal" (click)="updateTableData(2,'IN PROGRESS')">
                <div class="card">
                  <div class="card-body p-3 ">
                    <div class="row">
                      <div class="col-8">
                        <div class="numbers">
                          <p class="text-sm mb-0 text-capitalize font-weight-bold">In Progress</p>
                          <h5 class="font-weight-bolder mb-0">
                            {{inprogressNumber}}
                            
                          </h5>
                        </div>
                      </div>
                      <div class="col-4 text-end">
                        <div class="icon icon-shape bg-gradient-info shadow text-center border-radius-md">
                          <i class="ni ni-sound-wave text-lg opacity-10" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="  mb-2"  data-bs-toggle="modal" data-bs-target="#table-modal" (click)="updateTableData(2,'ON HOLD')">
                <div class="card">
                  <div class="card-body p-3 ">
                    <div class="row">
                      <div class="col-8">
                        <div class="numbers">
                          <p class="text-sm mb-0 text-capitalize font-weight-bold">On Hold</p>
                          <h5 class="font-weight-bolder mb-0">
                            {{onholdStatusNumber}}
                            
                          </h5>
                        </div>
                      </div>
                      <div class="col-4 text-end">
                        <div class="icon icon-shape bg-gradient-warning shadow text-center border-radius-md">
                          <i class="ni ni-sound-wave text-lg opacity-10" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="  mb-2"  data-bs-toggle="modal" data-bs-target="#table-modal" (click)="updateTableData(2,'RESOLVED')">
                <div class="card">
                  <div class="card-body p-3 ">
                    <div class="row">
                      <div class="col-8">
                        <div class="numbers">
                          <p class="text-sm mb-0 text-capitalize font-weight-bold">Resolved</p>
                          <h5 class="font-weight-bolder mb-0">
                            {{resolvedStatusNumber}}
                            
                          </h5>
                        </div>
                      </div>
                      <div class="col-4 text-end">
                        <div class="icon icon-shape bg-gradient-success shadow text-center border-radius-md">
                          <i class="ni ni-sound-wave text-lg opacity-10" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="  mb-2"  data-bs-toggle="modal" data-bs-target="#table-modal" (click)="updateTableData(2,'AWAITING INVESTIGATION')">
                <div class="card">
                  <div class="card-body p-3 ">
                    <div class="row">
                      <div class="col-8">
                        <div class="numbers">
                          <p class="text-sm mb-0 text-capitalize font-weight-bold">Awaiting Investigation</p>
                          <h5 class="font-weight-bolder mb-0">
                            {{awaitingStatusNumber}}
                            
                          </h5>
                        </div>
                      </div>
                      <div class="col-4 text-end">
                        <div class="icon icon-shape bg-gradient-success shadow text-center border-radius-md">
                          <i class="ni ni-sound-wave text-lg opacity-10" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="  mb-2"  data-bs-toggle="modal" data-bs-target="#table-modal" (click)="updateTableData(2,'DECLINED')">
                <div class="card">
                  <div class="card-body p-3 ">
                    <div class="row">
                      <div class="col-8">
                        <div class="numbers">
                          <p class="text-sm mb-0 text-capitalize font-weight-bold">Declined</p>
                          <h5 class="font-weight-bolder mb-0">
                            {{declinedStatusNumber}}
                            
                          </h5>
                        </div>
                      </div>
                      <div class="col-4 text-end">
                        <div class="icon icon-shape bg-gradient-success shadow text-center border-radius-md">
                          <i class="ni ni-sound-wave text-lg opacity-10" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              </div>
              </div>
            
        </div>
      </div>
     
     </div>
     <div *ngIf="loading"
     class="spinner-grow text-success"
     style="width: 10rem; height: 10rem;"
     role="status"
   >
     <span class="sr-only ">Loading...</span>
   </div>

      <footer class="footer pt-3  ">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              
            </div>
           
          </div>
        </div>
      </footer>
    </div>
  </main>
  <div class="modal fade" id="table-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    
    <div class="modal-dialog modal-lg">
     
      <div class="modal-content">
        
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Tickets</h5>
          <i  class=" bi bi-x-lg" data-bs-dismiss="modal" [routerLink]="['/']" aria-label="Close"></i>
        </div>
        <div id="modal-body" class="modal-body">
          <div class="mb-4 ">
            <div class=" d-flex justify-content-center">
              <div class="card-body w-80 px-0 pb-5">
                <h5 class="ml-4 d-block text-center" ></h5>
             <app-table [data]="tableData"></app-table>
              </div>
            </div>
          </div>`
          </div>

        <div class="d-flex justify-content-center">
          
        </div>
      </div>
    </div>
 
  </div>
  
