<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" >
       
        <h5 class="ms-1 font-weight-bold">CABS HELPDESK</h5>
      </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto  max-height-vh-100 h-100" id="sidenav-collapse-main">
      
  <!-- sidebar navination -->
  <app-sidebar></app-sidebar>
    </div>
  
  </aside>
  
    <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
      <!-- Navbar -->
      <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
        <div class="container-fluid py-1 px-3">
          <nav aria-label="breadcrumb">
          </nav>
          <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
             
            </div>
            
          </div>
        </div>
      </nav>
      <!-- End Navbar -->

        <div class="modal-content w-70 mx-auto" style="background-color: whitesmoke;">
				<div class="row  gx-5 mx-2 mt-5 ">
					<!-- Contact detail -->
          <div class=" d-flex justify-content-between"><h4 class="px-4">Ticket Details</h4><ul>
          
            <li class="nav-item dropdown pe-2 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i  class="bi bi-three-dots-vertical   px-4" style="font-size:x-large"></i>
              </a>
              <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
                <li class="mb-2" data-bs-toggle="modal"  data-bs-target="#escalate-modal" >
                  <a class="dropdown-item border-radius-md" >
                    <div class="d-flex py-1">
            
                      <div class="d-flex flex-column justify-content-center">
                        <p class="text-sm font-weight-normal mb-1" >
                        Escalate
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2" data-bs-toggle="modal" data-bs-target="#changeStatus-modal">
                  <a class="dropdown-item border-radius-md" >
                    <div class="d-flex py-1">
            
                      <div class="d-flex flex-column justify-content-center">
                        <p class="text-sm font-weight-normal mb-1" >
                          Update Status
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
               
                <li class="mb-2" data-bs-toggle="modal" data-bs-target="#reassign-modal">
                  <a class="dropdown-item border-radius-md" >
                    <div class="d-flex py-1">
            
                      <div class="d-flex flex-column justify-content-center">
                        <p class="text-sm font-weight-normal mb-1"  >
                        Reassign
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2" data-bs-toggle="modal" data-bs-target="#reply-modal">
                  <a class="dropdown-item border-radius-md" >
                    <div class="d-flex py-1">
            
                      <div class="d-flex flex-column justify-content-center">
                        <p class="text-sm font-weight-normal mb-1"  >
                        Reply
                        </p>
                      </div>
                    </div>
                  </a>
                </li>

                <li class="mb-2" (click)="handleDelete()">
                  <a class="dropdown-item border-radius-md" >
                    <div class="d-flex py-1">
            
                      <div class="d-flex flex-column justify-content-center">
                        <p class="text-sm font-weight-normal mb-1" >
                        Delete
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2"  [routerLink]="['/tickets']">
                  <a class="dropdown-item border-radius-md" >
                    <div class="d-flex py-1">
            
                      <div class="d-flex flex-column justify-content-center">
                        <p class="text-sm font-weight-normal mb-1">
                        Close
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </li></ul></div>
					<div class="col-xxl-12 mb-xxl-0">
						<div class=" px-4 py-5 rounded">
							<div class="row g-3">
								<div class="col-md-6">
									<label class="form-label">Phone Number</label>
									<input type="text" class="form-control bg-secondary-soft" disabled placeholder="" aria-label="Last name" value="{{ticket.phone}}">
								</div>
							
							
							
								<div class="col-md-6">
									<label class="form-label">Status</label>
									<input type="text" class="form-control bg-secondary-soft" disabled placeholder="" aria-label="Phone number" value="{{ticket.ticketStatus}}">
								</div>
                <div class="col-md-6">
									<label class="form-label">Escalation</label>
									<input type="text" class="form-control bg-secondary-soft" disabled placeholder="" aria-label="Phone number" value="{{ticket.escalationLevel}}">
								</div>
              
                
                <div class="col-md-6">
									<label class="form-label">Business Unit</label>
									<input type="text" class="form-control bg-secondary-soft" disabled placeholder="" aria-label="Phone number" value="{{ticket.businessUnit}}">
								</div>
								
								<!-- First Name -->
								<div class="col-md-12">
									<label class="form-label">Name</label>
									<input type="text" disabled class="form-control bg-secondary-soft" placeholder="" aria-label="First name" value="{{ticket.name}}">
								</div>
                <div class="col-md-12">
									<label class="form-label">Email</label>
									<input type="text" class="form-control bg-secondary-soft" placeholder="" dissabled aria-label="Phone number" value="{{ticket.email}}">
								</div>

                <div class="col-md-12">
									<label class="form-label">Date Created</label>
									<input type="text" class="form-control bg-secondary-soft" disabled placeholder="" aria-label="Phone number" value="{{ momentFomarter(ticket.dateCreated).format('LLL')}}">
								</div>
                <div class="col-md-12">
									<label class="form-label">Assignee</label>
									<input type="text" class="form-control bg-secondary-soft" disabled placeholder="" aria-label="Phone number" value="{{ticket.assignee}}">
								</div>

                <div class="col-md-12">
									<label class="form-label">Ticket #</label>
									<input type="text" class="form-control bg-secondary-soft" disabled placeholder="" aria-label="Phone number" value="{{ticket.id}}">
								</div>
							
                
                <div class="col-md-12">
									<label class="form-label">Description</label>
									<textarea type="text" class="form-control bg-secondary-soft" disabled placeholder="" aria-label="Phone number" value="{{ticket.description}}"></textarea>
								</div>

                <div class="col-md-12">
									<label class="form-label card d-inline p-2 mb-4" *ngIf="showComments" (click)="toggleShowComments(true)">Comments</label>
                  <label *ngIf="showComments" (click)="toggleShowComments(false)" class="form-label ">Messages</label>
                   	<label *ngIf="!showComments" (click)="toggleShowComments(true)" class="form-label ">Comments</label> 
                     <label *ngIf="!showComments" (click)="toggleShowComments(false)" class="form-label card d-inline p-2 mb-4">Messages</label> 
                  <div class="bg-secondary-soft p-4 mt-2" style="height:200px;overflow: auto;">
                      <div *ngIf="showComments" >
                    <div *ngFor="let comm of comments; let i = index"class="comment-item  d-flex p-3 mb-3" style="border-radius:10px" >
                      <div  class="mr-3 rounded-circle d-flex justify-content-center align-items-center"   style="background-color:aquamarine; width: 50px; height: 50px"  >{{comm.creator.substring(0,1)}}</div>
                      <div class="media-body ">
                          <p><a  class="text-body fw-bold">{{comm.creator}}</a></p>
                          <small class=" d-block">
                              {{comm.comment}}
                          </small>
                          <div class="text-muted d-flex justify-content-end"><small timeago [date]="comm.dateCreated"  class=" font-weight-bold ml-0"></small></div> 
                      </div>
                  </div>
                </div>
                  <div  *ngIf="!showComments" >
                  <div *ngFor="let message of messages; let i = index"class="comment-item  d-flex p-3 mb-3" style="border-radius:10px" >
                    <div  class="mr-3 rounded-circle d-flex justify-content-center align-items-center"   style="background-color:bisque; width: 50px; height: 50px"  >{{message.creator.substring(0,1)}}</div>
                    <div class="media-body ">
                        <p><a  class="text-body fw-bold">{{message.creator}}</a></p>
                        <small class=" d-block">
                            {{message.message}}
                        </small>
                        <div class="text-muted d-flex justify-content-end"><small timeago [date]="message.dateCreated"  class=" font-weight-bold ml-0"></small></div> 
                    </div>
                </div>
              </div>
                  
             
								</div>
                </div>

							</div> <!-- Row END -->
						</div>
					</div>	
				</div>
          </div>
        <footer class="footer pt-3  ">
          <div class="container-fluid">
            <div class="row align-items-center justify-content-lg-between">
              <div class="col-lg-6 mb-lg-0 mb-4">
              </div>
            </div>
          </div>
        </footer>

        <div class="modal fade" id="reply-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <form role="form"  #messageForm="ngForm" (ngSubmit)="sendMessagetoClient(messageForm)" autocomplete="off" novalidate>
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">New Message</h5>
                <i  class=" bi bi-x-lg" data-bs-dismiss="modal" aria-label="Close"></i>
              </div>
              <div class="modal-body">

                <div class="col-md-6">
									<label class="form-label">ID</label>
									<input type="text" class="form-control bg-secondary-soft"   disabled  aria-label="Phone number" value="{{ticket.id}}">
								</div>
                <div class="col-md-6">
									<label class="form-label">Phone</label>
									<input type="text" class="form-control bg-secondary-soft"  disabled  aria-label="Phone number" value="{{ticket.phone}}">
								</div>  
                <div class="col-md-12">
									<label class="form-label">Message</label>
									<textarea type="text" class="form-control bg-secondary-soft" ngModel name="message" #message="ngModel"   placeholder="" aria-label="Phone number" value=""></textarea>
								</div>
              </div>              
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn bg-gradient-success mx-4"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span> Send</button>
              </div>
            </form>
            </div>
          </div>
        </div>
        <div class="modal fade" id="escalate-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <form role="form"  #escalationForm="ngForm" (ngSubmit)="handleEscalate(escalationForm)" autocomplete="off" novalidate>
          <div class="modal-dialog">
           
            <div class="modal-content">
              
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Escalation</h5>
                <i  class=" bi bi-x-lg" data-bs-dismiss="modal" [routerLink]="['/tickets']" aria-label="Close"></i>
              </div>
              <div class="modal-body">
              
                <!-- <div class="form-group p-3">
                  <label for="">Email</label>
                  <input type="text" class="form-control" ngModel name="email" #email="ngModel" >
                </div> -->
                <div class="form-group p-3">
                  <label for="">Escalation Level</label>
                  <select class="select-item"  ngModel name="escalationLevel"  #escalationLevel="ngModel" >
                    <option>select</option>
                    <option *ngFor="let es of escalations; let i = index">{{es}} </option>
                  </select>

                  
                </div>
                <!-- <div class="form-group p-3">
                  <label for="">Comment</label>
                  <textarea class="form-control" ngModel name="comment" #comment="ngModel" ></textarea>
                </div> -->
                <div class="col-md-12">
									<label class="form-label">Comment</label>
									<textarea type="text" class="form-control bg-secondary-soft" ngModel name="comment" #comment="ngModel"  placeholder="" aria-label="Phone number" value=""></textarea>
								</div>

                </div>
  
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn bg-gradient-success mx-4"> <span *ngIf="loading" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>  Escalate</button>
              </div>
             
            </div>
          
          </div>
          </form>
      
        </div>

        <div class="modal fade" id="reassign-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <form role="form"  #reassignForm="ngForm" (ngSubmit)="handleReassign(reassignForm)" autocomplete="off" novalidate>
          <div class="modal-dialog">
           
            <div class="modal-content">
              
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Reassign</h5>
                <i  class=" bi bi-x-lg" data-bs-dismiss="modal" [routerLink]="['/tickets']" aria-label="Close"></i>
              </div>
              <div class="modal-body">
              
                <div class="form-group p-3">
                 
                  <div >
                    <label for="">Assignee </label>
                    <input type="text" id="selected-uname" class="form-control bg-secondary-soft"  (keypress)="handleSearch($event.target)" value="">
                    <ul class=" d-block u-names p-0"  >
                      <li class="d-block m-2" *ngFor="let name of searchArrayUsers" (click)="selectAssignee($event.target)">{{name.firstname}} {{name.lastname}}</li>
                      <div class="col-md-12 p-0">
                        <label class="form-label mt-4">Comment</label>
                        <textarea type="text" class="form-control bg-secondary-soft" ngModel name="comment" #comment="ngModel"  placeholder="" aria-label="Phone number" value=""></textarea>
                      </div>
       
                      <div class="d-flex justify-content-center mt-4" >
                        <button type="submit"  class=" btn bg-gradient-success " > <span *ngIf="loading" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span> Reassign</button>
                      </div>
                    </ul>

                  
                  </div>
                  <!-- <select class="select-item"  ngModel name="assignee" (change)="onChange($event.target)" #assignee="ngModel" >
                    <option>select</option>
                    <option *ngFor="let user of AllUsers; let i = index">{{user.firstname}} {{user.lastname}}</option>
                  </select> -->
                </div>
                </div>
  
              
            </div>
          </div>
          </form>
        </div>
        
        <div class="modal fade" id="changeStatus-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <form role="form"  #statusForm="ngForm" (ngSubmit)="handleChangeStatus(statusForm)" autocomplete="off" novalidate>
          <div class="modal-dialog">
           
            <div class="modal-content">
              
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Change Status</h5>
                <i  class=" bi bi-x-lg" data-bs-dismiss="modal" [routerLink]="['/tickets']" aria-label="Close"></i>
              </div>
              <div class="modal-body">
              
                <div class="form-group p-3">
                  <label for="">Status </label>
                  <select class="select-item"  ngModel name="ticketStatus"  #ticketStatus="ngModel" >
                    <option>select</option>
                    <option *ngFor="let es of status; let i = index">{{es}} </option>                
                  </select>
                </div>
                </div>
  
              <div class="d-flex justify-content-center">
                <button type="submit"  class="btn bg-gradient-success mx-4"> <span *ngIf="loading" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span> Update</button>
              </div>
            </div>
          </div>
          </form>
        </div>
    
    </main>
    