<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" >
       
        <h5 class="ms-1 font-weight-bold">CABS HELPDESK</h5>
      </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto  max-height-vh-100 h-100" id="sidenav-collapse-main">
      
  <!-- sidebar navination -->
  <app-sidebar></app-sidebar>
    </div>
  
  </aside>
  
    <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
      <!-- Navbar -->
      <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
        <div class="container-fluid py-1 px-3">
          <nav aria-label="breadcrumb">
          </nav>
          <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
             
            </div>
            
          </div>
        </div>
      </nav>
      <!-- End Navbar -->

        <div class="modal-content w-70 mx-auto">
            <div class=" d-flex justify-content-end"><i [routerLink]="['/tickets']" class="bi bi-x-lg mx-4 mt-3"></i></div>
            <div class="modal-body   p-3">
              <div class="d-flex" style="align-items: end;">
                <h5 for="recipient-name" class="col-form-label mx-1" style="line-height: unset;">Ticket Information</h5>
                <hr style="flex: 1;">
              </div>
             <div class="">
                <table class="m-4  ">
                    <thead> 
                      <th class="w-30"></th> 
                      <th class="w-70"></th>
                     </thead>
                     <tbody>
                       <tr><td><strong>Ticket Type:</strong></td> <td>{{ticket.ticketType}}</td> </tr> 
                       <tr><td><strong>Escalation:</strong> </td> <td>{{ticket.escalationLevel}}</td></tr>
                       <tr><td><strong>Email:</strong> </td> <td>{{ticket.email}}</td></tr>
                       <tr><td><strong>Assignee: </strong> </td> <td>{{ticket.assignee}}</td></tr>
                       <tr><td><strong> Full Name: </strong></td> <td>{{ticket.name}}</td> </tr> 
                       <tr><td><strong>Phone:</strong> </td> <td>{{ticket.phone}}</td></tr>
                       <tr><td><strong>Date Created:</strong> </td> <td>{{ticket.dateCreated}}</td></tr>
                       <tr><td>Description:<strong></strong> </td> <td>{{ticket.description}}</td></tr>
                       <tr><td>Comments:<strong></strong> </td> <td>{{ticket.description}}</td></tr>
                     </tbody>
                   </table>
             </div>
              <div class="d-flex" style="align-items: end;">
                <h5 for="recipient-name" class="col-form-label mx-1" style="line-height: unset;">Action</h5>
                <hr style="flex: 1;">
              </div>
              
            </div>
            
              <div class="d-flex row justify-content-center mb-5">
                <div class="col-md-2 col-sm-12"> <button type="button" class="btn bg-gradient-info m-2" data-bs-toggle="modal" style="height: 4.5em;" data-bs-target="#escalate-modal">Escalate </button></div>
                <div class="col-md-2 col-sm-12"><button type="button" class="btn bg-gradient-success m-2"  style="height: 4.5em;"  data-bs-toggle="modal" data-bs-target="#changeStatus-modal">Update Status</button></div>
                <div class="col-md-2 col-sm-12"> <button type="button" class="btn bg-gradient-warning m-2" style="height: 4.5em;" data-bs-toggle="modal" data-bs-target="#reply-modal">Reply</button></div>
                <div class="col-md-2 col-sm-12"><button type="button" class="btn bg-gradient-primary m-2" style="height: 4.5em;" data-bs-toggle="modal" data-bs-target="#reassign-modal">Reassign</button></div>
                <div class="col-md-2 col-sm-12"> <button type="button" class="btn bg-gradient-danger m-2" style="height: 4.5em;" (click)="handleDelete()" >Delete</button></div>
               
                </div>
          </div>
        
        <footer class="footer pt-3  ">
          <div class="container-fluid">
            <div class="row align-items-center justify-content-lg-between">
              <div class="col-lg-6 mb-lg-0 mb-4">
              </div>
            </div>
          </div>
        </footer>

        <div class="modal fade" id="reply-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Comment</h5>
                <i  class=" bi bi-x-lg" data-bs-dismiss="modal" aria-label="Close"></i>
              </div>
              <div class="modal-body">
               
              <div class="form-group p-3">
                <label for="">Client Name</label>
                <input type="text" class="form-control" >
              </div>
              <div class="form-group p-3">
                <label for="">Comment</label>
                <textarea class="form-control" ></textarea>
              </div>
              </div>

              
              <div class="d-flex justify-content-center">
                <button type="button" class="btn bg-gradient-success mx-4">Send</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="escalate-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <form role="form"  #f="ngForm" (ngSubmit)="handleEscalate(f)" autocomplete="off" novalidate>
          <div class="modal-dialog">
           
            <div class="modal-content">
              
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Escalation</h5>
                <i  class=" bi bi-x-lg" data-bs-dismiss="modal" [routerLink]="['/tickets']" aria-label="Close"></i>
              </div>
              <div class="modal-body">
              
                <!-- <div class="form-group p-3">
                  <label for="">Email</label>
                  <input type="text" class="form-control" ngModel name="email" #email="ngModel" >
                </div> -->
                <div class="form-group p-3">
                  <label for="">Escalation Level</label>
                  <select class="select-item"  ngModel name="escalationLevel"  #escalationLevel="ngModel" >
                    <option>NORMAL</option>
                    <option>IMPORTANT</option>
                    <option>URGENT</option>
                    <option>CRITICAL</option>
                  </select>
                </div>
                <!-- <div class="form-group p-3">
                  <label for="">Comment</label>
                  <textarea class="form-control" ngModel name="comment" #comment="ngModel" ></textarea>
                </div> -->
                </div>
  
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn bg-gradient-success mx-4">Escalate</button>
              </div>
             
            </div>
          
          </div>
          </form>
      
        </div>

        <div class="modal fade" id="reassign-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <form role="form"  #fAssign="ngForm" (ngSubmit)="handleReassign(fAssign)" autocomplete="off" novalidate>
          <div class="modal-dialog">
           
            <div class="modal-content">
              
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Reassign</h5>
                <i  class=" bi bi-x-lg" data-bs-dismiss="modal" [routerLink]="['/tickets']" aria-label="Close"></i>
              </div>
              <div class="modal-body">
              
                <div class="form-group p-3">
                  <label for="">Assignee </label>
                  <select class="select-item"  ngModel name="assignee" (change)="onChange($event.target)" #assignee="ngModel" >
                    <option> Select Assignee</option>
                    <option *ngFor="let user of AllUsers; let i = index">{{user.firstname}} {{user.lastname}}</option>
                  </select>
                </div>
                </div>
  
              <div class="d-flex justify-content-center">
                <button type="submit"  class="btn bg-gradient-success mx-4"> <span *ngIf="loading" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span> Reassign</button>
              </div>
            </div>
          </div>
          </form>
        </div>
        
        <div class="modal fade" id="changeStatus-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <form role="form"  #fstatus="ngForm" (ngSubmit)="handleChangeStatus(fstatus)" autocomplete="off" novalidate>
          <div class="modal-dialog">
           
            <div class="modal-content">
              
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Reassign</h5>
                <i  class=" bi bi-x-lg" data-bs-dismiss="modal" [routerLink]="['/tickets']" aria-label="Close"></i>
              </div>
              <div class="modal-body">
              
                <div class="form-group p-3">
                  <label for="">Status </label>
                  <select class="select-item"  ngModel name="ticketStatus"  #ticketStatus="ngModel" >
                    <option> Select Status</option>
                    <option>OPEN</option>
                    <option>IN PROGRESS</option>
                    <option>ON HOLD</option>
                    <option>RESOLVED</option>
                    <option>DECLINED</option>
                    <option>AWAITING INVESTIGATION</option>                   
                  </select>
                </div>
                </div>
  
              <div class="d-flex justify-content-center">
                <button type="submit"  class="btn bg-gradient-success mx-4"> <span *ngIf="loading" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span> Update</button>
              </div>
            </div>
          </div>
          </form>
        </div>
    
    </main>
    