<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto d-flex justify-content-center">
          <div class="md-form w-30">
            <input
              type="text"
              [(ngModel)]="searchText"
              class="form-control"
              id="search"
              mdbInput
            />
            <label for="search">Search</label>
          </div>
        </div>
      </div>
    <table mdbTable #tableEl="mdbTable" class="z-depth-1 table  ">
      <thead>
      <tr>
        <!-- <th *ngFor="let head of headElements; let i = index" scope="col">{{ head }}
        </th> -->
        <th class="w-10">Ticket Type</th>
        <th class="w-70">Description</th>
        <th class="w-10">Status</th>
        <th class="w-10">Created</th>
        
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let el of data; let i = index"  (click)="openModal(el)" [routerLink]="['/ticket']" data-bs-dismiss="modal" >
        <th  *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
            scope="row">{{ el.ticketType }}</th>
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{ el.description.substr(0, 40) }} ..</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"><span *ngIf="el.escalationLevel=='NORMAL'" class="badge bg-gradient-success">{{ el.ticketStatus }}</span>
          <span *ngIf="el.escalationLevel=='IMPORTANT'" class="badge bg-gradient-warning">{{ el.ticketStatus }}</span>
          <span *ngIf="el.escalationLevel=='URGENT'" class="badge bg-gradient-primary">{{ el.ticketStatus }}</span>
          <span *ngIf="el.escalationLevel=='CRITICAL' " class="badge bg-gradient-danger">{{ el.ticketStatus }}</span>
          
        
        
        </td>
        <td  *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"> <div timeago [date]="el.dateCreated" ></div></td>
      </tr>
      </tbody>
      <tfoot class="grey lighten-5 w-100">
      <tr>
        <td colspan="4">
          <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>