<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto d-flex justify-content-center">
          <div class="md-form w-30">
            <input
              type="text"
              [(ngModel)]="searchText"
              class="form-control"
              id="search"
              mdbInput
            />
            <label for="search">Search</label>
          </div>
        </div>
      </div>
    <table mdbTable #tableEl="mdbTable" class="z-depth-1 table  ">
      <thead>
      <tr>
        <!-- <th *ngFor="let head of headElements; let i = index" scope="col">{{ head }}
        </th> -->
        <th class="w-10">Ticket Type</th>
        <th class="w-10">Client Name</th>
        <th class="w-10">Status</th>
        <th class="w-70">Description</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let el of data; let i = index"  (click)="openModal(el)" [routerLink]="['/ticket']" >
        <th  *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
            scope="row">{{ el.ticketType }}</th>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{ el.name }}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{ el.ticketStatus }}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{ el.description.substr(0, 40) }}</td>
        
      </tr>
      </tbody>
      <tfoot class="grey lighten-5 w-100">
      <tr>
        <td colspan="4">
          <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>